backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { name: "title", label: "Title", widget: "string" }
      - { name: "description", label: "Description", widget: "string" }
      - { name: "pubDate", label: "Publish Date", widget: "datetime" }
      - { name: "category", label: "Category", widget: "string" }
      - { name: "tags", label: "Tags", widget: "list" }
      - { name: "featuredImage", label: "Featured Image", widget: "image", required: false }
      - { name: "draft", label: "Draft", widget: "boolean", default: false }
      - { name: "body", label: "Body", widget: "markdown" }
